<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.instagram.dao.mybatisImpl.LikeMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
     INSERT INTO Likes (like_At, post_Id,user_Id)
     VALUES (#{likedAt}, #{postId}, #{userId})
    </insert>

    <update id="update">
        UPDATE Likes SET like_At=#{likedAt}, post_Id=#{postId},user_Id=#{userId}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM Likes WHERE id = #{id}
    </delete>

    <select id="getById">
        SELECT * FROM Likes
        WHERE id = #{id}
    </select>

    <select id="getAllLikes" resultType="LikeResultMap">
        SELECT * FROM Likes
    </select>

    <select id="findByLikedAt" resultMap="LikeResultMap">
     SELECT * FROM Likes WHERE like_At = #{likedAt}
    </select>

    <select id="findByPostId" resultType="LikeResultMap">
     SELECT * FROM Likes WHERE post_Id = #{postId}
    </select>

    <select id="findByUserId" resultType="LikeResultMap">
        SELECT * FROM Likes WHERE user_Id = #{userId}
    </select>

    <resultMap id="LikeResultMap" type="com.solvd.instagram.models.Like">
        <id property="id" column="id"/>
        <result property="likedAt" column="like_At"/>
        <result property="postId" column="post_Id"/>
        <result property="userId" column="user_Id"/>
    </resultMap>
</mapper>
