<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.instagram.mybatis.MessageMapper">
    
    <sql id="columnMessage">
        id, send_At, is_Read, text_Message, sender_Id, receiver_Id
    </sql>
    
    <select id="updateMessage">
        UPDATE Messages SET text_Message = #{mesage} where id = #{id}
    </select>

    <delete id="deleteMessageById">
       DELETE FROM Messages where id = #{id}
    </delete>

    <select id="getBySenderId">
      SELECT <include refid="columnMessage"/> FROM Messages where sender_id = #{senderId}
    </select>

    <update id="markAsRead">
      UPDATE Messages SET is_Read = true where id = #{id}
    </update>
    
    
    <resultMap id="MessageResultMap" type="com.solvd.instagram.models.Message">
        <id property="id" column="id"/>
        <result property="sendAt" column="send_At"/>
        <result property="isRead" column="is_Read"/>
        <result property="textMessage" column="text_Message"/>
        <result property="senderId" column="sender_Id"/>
        <result property="receiverId" column="receiver_Id"/>
    </resultMap>
</mapper>