<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.instagram.dao.mybatisImpl.PostMapper">


    <select id="getAll" resultMap="PostResultMap">
        SELECT * FROM Posts
    </select>

    <select id="findByPostedAt" resultMap="PostResultMap">
        SELECT * FROM Posts
        WHERE  posted_at = #{posted_at}
    </select>

    <select id="findByPostTypeId" resultMap="PostResultMap">
        SELECT * FROM Posts
        WHERE post_type_id = #{post_type_id}
    </select>

    <select id="findByUserId" resultMap="PostResultMap">
        SELECT * FROM Posts
        WHERE user_id = #{user_id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Posts (posted_at, post_type_id, user_id)
        VALUES (#{postedAt}, #{postTypeID}, #{userID} )
    </insert>

    <select id="selectById" resultMap="PostResultMap">
        SELECT * FROM Posts
        WHERE posted_at = #{posted_at} AND post_type_id = #{post_type_id} AND user_id = #{user_id}
    </select>

    <update id="update" >
        UPDATE Posts SET posted_at = #{posted_at}, post_type_id = #{post_type_id}, user_id = #{user_id} Where id = #{id}
    </update>

    <delete id="removeById">
       DELETE FROM Posts where id = #{id}
    </delete>


    <resultMap id="PostResultMap" type="com.solvd.instagram.models.Post">
        <id property="id" column="id"/>
        <result property="postedAt" column="posted_at"/>
        <result property="postTypeID" column="post_type_id"/>
        <result property="userID" column="user_id"/>
    </resultMap>

</mapper>