<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.instagram.mybatis.UserMapper">

    <sql id="userColumns">
        id, first_Name, second_Name, date_of_birth, email_Address, phone_Number, user_Type_Id, profile_Id
    </sql>

    <select id="getById" resultMap="UserResultMap">
        SELECT * FROM Users WHERE id = #{id}
    </select>

    <select id="getUsers" resultMap="UserResultMap">
        SELECT <include refid="userColumns"/> FROM Users
    </select>

    <select id="findByEmail" resultMap="UserResultMap">
        SELECT * FROM Users WHERE email_Address = #{emailAddress}
    </select>

    <select id="findByPhone" resultMap="UserResultMap">
        SELECT * FROM Users WHERE phone_Number = #{phoneNumber}
    </select>

    <select id="findByDateOfBirth" resultMap="UserResultMap">
        SELECT * FROM Users WHERE date_of_birth = #{dateOfBirth}
    </select>

    <resultMap id="UserResultMap" type="com.solvd.instagram.models.User">
        <id property="id" column="id"/>
        <result property="firstName" column="first_Name"/>
        <result property="secondName" column="second_Name"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="emailAddress" column="email_Address"/>
        <result property="phoneNumber" column="phone_Number"/>
        <result property="userTypeId" column="user_Type_Id"/>
        <result property="profileId" column="profile_Id"/>
    </resultMap>

</mapper>
